[global]
   workgroup = {{ nas_storage_smb_workgroup }}
   server string = Proxmox NAS
   security = user
   map to guest = Bad User
   log file = /var/log/samba/log.%m
   max log size = 1000
   logging = file
   panic action = /usr/share/samba/panic-action %d

[{{ nas_storage_smb_share_name }}]
   path = {{ nas_storage_mount_point }}
   valid users = {{ nas_storage_smb_valid_users }}
   read only = no
   browsable = yes
   create mask = 0664
   directory mask = 0775
   force group = nas
