---
# Crash Diagnostics role handlers

- name: Update GRUB
  ansible.builtin.command:
    cmd: update-grub
  changed_when: false
  # update-grub doesn't exist in containers
  when: ansible_virtualization_type != 'docker'
  listen: Update GRUB
