---
# Main playbook for Proxmox VE server configuration
#
# Usage:
#   ./scripts/run-ansible.sh playbooks/site.yml --check  # dry run
#   ./scripts/run-ansible.sh playbooks/site.yml          # apply
#
# Required Doppler secrets (iac-conf-mgmt/prd):
#   PVE_HOST, PVE_USER, PVE_SSH_PRIVATE_KEY, HEALTHCHECK_PING_KEY

- name: Configure Proxmox VE servers
  hosts: proxmox
  become: true
  gather_facts: true

  roles:
    - role: common
      tags:
        - common

    - role: zfs_swap
      tags:
        - zfs_swap

    - role: kernel_tuning
      tags:
        - kernel_tuning

    - role: ulimits
      tags:
        - ulimits

    - role: proxmox_monitoring
      tags:
        - monitoring
      vars:
        proxmox_monitoring_healthchecks_ping_url: "https://hc-ping.com/{{ lookup('env', 'HEALTHCHECK_PING_KEY') }}/proxmox"
